.portfolio {
    background: linear-gradient(180deg, #001b35,#233247);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 300px;
}

.image-portfolio {
    height: 175px;
}

.content-portfolio {
    width: 70%;
    margin: auto;
    .title-portfolio {
        h1 {
            font-size: 40px;
            color: white;
            border-bottom: 1px solid gray;
            width: fit-content;
            margin-bottom: 30px;
        }
        p {
            color: white;
            margin-bottom: 100px;
        }
    }

    .works-portfolio {

        
        gap: 30px;
        justify-content: center;

        .project {
            width: 350px;
            overflow: hidden;
            border: 1px solid rgb(85, 85, 85);
            color: white;
            border-radius: 10px;
            background-color: transparent;
            box-shadow: 2px 2px 10px -5px rgb(168, 168, 168) ;

            img {
                width: 100%;
                object-fit: cover;
            }

            h2 {
                font-size: 18px;
                text-align: center;
                margin: 10px 0;
                width: fit-content;
                margin: 15px auto;
                border-bottom: 1px solid rgb(146, 146, 146);
            }

            p {
                margin: 0 15px;
                font-size: 15px;
                text-align: center;
                height: 90px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 22px;
            }

            .stack {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 95%;
                margin: auto;

                h2 {
                    border-bottom: 1px solid rgb(141, 141, 141);
                }
            }

            .stacks {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                height: 100px;

                span {
                    background-color: rgb(6, 15, 34);
                    font-size: 0.9rem;
                    padding: 8px 12px;
                    border-radius: 6px;
                    transition: all .5s;
                    height: fit-content;
                    user-select: none;
                }
                span:hover {
                    scale: 1.1;
                }
            }

            .buttons {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 10px;
                
                a {
                    border-radius: 10px;
                    border: 1px solid rgb(85, 85, 85);
                    padding: 15px 40px;
                    margin: 10px;
                    text-decoration: none;
                    color: white;
                    transition: all .5s;
                }
                a:hover {
                    transform: scale(1.05);
                    background-color: rgb(13, 20, 34);
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .content-portfolio {
        width: 90%;
    }

    .works-portfolio {
        display: flex;
        flex-wrap: wrap;
        
        place-content: center;
    }
}

@media (min-width: 1200px) {
    .works-portfolio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}